.linkbtn{
	border: 1px solid;
	border-color: gray;
	background-color: white;
	text-align: center;
	font-size: 20px;
	color: gray;
	padding: 10px;
	width: 100%;
}
.linkbtn:hover{
	background-color: rgba(200,200,200,.9);
}
body{
	text-align: center;
    font-family: "Tw Cen MT";
}
table{
	width: 100%;
}
.header-cont {
    width:100%;
    position:fixed;
    top:0px;
    left: 0px;
}
.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
}
.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 70px auto;
}
header{
    background-color: rgb(60,60,60);
    font-family: "Tw Cen MT";
}
h1{
    text-align: center;
    color: white;
}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.time_remaining{
    padding: 10px;
    height: 20px;
    width: 100%;
    background-color: #00816A;
    border-radius: 10px;
    color:  #FFFFFF;
}

.board{
    font-family: "Tw Cen MT";
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    border-style: solid;
    align-self: center;
    text-align: center;
}
span{
    font-size: 25px;
    color: gray;
}
div{
    padding: 0px;
}
p{
    font-size: 50px;
    font-family: "Tw Cen MT";
    padding: 0px;
}
button{
    width: 47%;
}
input{
    width: 45%;
    text-transform: uppercase;
}

table{
    width: 100%;
}
td{
    padding: 0px;
    visibility: hidden;
}
tr{
    padding: 0px;
}
img{
    padding: 0px;
    /*visibility: hidden;*/
}